annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
anyio==4.11.0 ; python_version >= "3.11" and python_version < "4.0"
async-timeout==5.0.1 ; python_version >= "3.11" and python_full_version < "3.11.3"
certifi==2025.11.12 ; python_version >= "3.11" and python_version < "4.0"
cffi==2.0.0 ; python_version >= "3.11" and python_version < "4.0"
charset-normalizer==3.4.4 ; python_version >= "3.11" and python_version < "4.0"
click==8.3.1 ; python_version >= "3.11" and python_version < "4.0"
cohere==5.20.0 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and (platform_system == "Windows" or sys_platform == "win32")
coverage[toml]==7.12.0 ; python_version >= "3.11" and python_version < "4.0"
cryptography==46.0.3 ; python_version >= "3.11" and python_version < "4.0"
curl-cffi==0.13.0 ; python_version >= "3.11" and python_version < "4.0"
events==0.5 ; python_version >= "3.11" and python_version < "4"
fastavro==1.12.1 ; python_version >= "3.11" and python_version < "4.0"
filelock==3.20.0 ; python_version >= "3.11" and python_version < "4.0"
fsspec==2025.10.0 ; python_version >= "3.11" and python_version < "4.0"
grpcio==1.76.0 ; python_version >= "3.11" and python_version < "4.0"
h11==0.16.0 ; python_version >= "3.11" and python_version < "4.0"
h2==4.3.0 ; python_version >= "3.11" and python_version < "4.0"
hf-xet==1.2.0 ; python_version >= "3.11" and python_version < "4.0" and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "arm64" or platform_machine == "aarch64")
hpack==4.1.0 ; python_version >= "3.11" and python_version < "4.0"
httpcore==1.0.9 ; python_version >= "3.11" and python_version < "4.0"
httpx-sse==0.4.0 ; python_version >= "3.11" and python_version < "4.0"
httpx==0.27.2 ; python_version >= "3.11" and python_version < "4.0"
httpx[http2]==0.27.2 ; python_version >= "3.11" and python_version < "4.0"
huggingface-hub==1.1.4 ; python_version >= "3.11" and python_version < "4.0"
hyperframe==6.1.0 ; python_version >= "3.11" and python_version < "4.0"
idna==3.11 ; python_version >= "3.11" and python_version < "4.0"
iniconfig==2.3.0 ; python_version >= "3.11" and python_version < "4.0"
lxml==5.4.0 ; python_version >= "3.11" and python_version < "4.0"
mypy-extensions==1.1.0 ; python_version >= "3.11" and python_version < "4.0"
mypy==1.18.2 ; python_version >= "3.11" and python_version < "4.0"
numpy==2.3.5 ; python_version >= "3.11" and python_version < "4.0"
opensearch-py==2.8.0 ; python_version >= "3.11" and python_version < "4"
orjson==3.11.4 ; python_version >= "3.11" and python_version < "4.0"
packaging==25.0 ; python_version >= "3.11" and python_version < "4.0"
pathspec==0.12.1 ; python_version >= "3.11" and python_version < "4.0"
pdfminer-six==20240706 ; python_version >= "3.11" and python_version < "4.0"
pluggy==1.6.0 ; python_version >= "3.11" and python_version < "4.0"
portalocker==3.2.0 ; python_version >= "3.11" and python_version < "4.0"
protobuf==6.33.1 ; python_version >= "3.11" and python_version < "4.0"
psycopg-binary==3.2.12 ; implementation_name != "pypy" and python_version >= "3.11" and python_version < "4.0"
psycopg[binary]==3.2.12 ; python_version >= "3.11" and python_version < "4.0"
pycparser==2.23 ; python_version >= "3.11" and python_version < "4.0" and implementation_name != "PyPy"
pydantic-core==2.41.5 ; python_version >= "3.11" and python_version < "4.0"
pydantic==2.12.4 ; python_version >= "3.11" and python_version < "4.0"
pygments==2.19.2 ; python_version >= "3.11" and python_version < "4.0"
pyjwt==2.10.1 ; python_version >= "3.11" and python_version < "4.0"
pymupdf==1.26.6 ; python_version >= "3.11" and python_version < "4.0"
pytest-asyncio==0.23.8 ; python_version >= "3.11" and python_version < "4.0"
pytest-cov==5.0.0 ; python_version >= "3.11" and python_version < "4.0"
pytest==8.4.2 ; python_version >= "3.11" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "4.0"
pywin32==311 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
pyyaml==6.0.3 ; python_version >= "3.11" and python_version < "4.0"
qdrant-client==1.16.0 ; python_version >= "3.11" and python_version < "4.0"
redis==5.3.1 ; python_version >= "3.11" and python_version < "4.0"
requests==2.32.5 ; python_version >= "3.11" and python_version < "4"
rq==1.16.2 ; python_version >= "3.11" and python_version < "4.0"
ruff==0.5.7 ; python_version >= "3.11" and python_version < "4.0"
selectolax==0.3.34 ; python_version >= "3.11" and python_version < "4.0"
shellingham==1.5.4 ; python_version >= "3.11" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.11" and python_version < "4.0"
sniffio==1.3.1 ; python_version >= "3.11" and python_version < "4.0"
structlog==24.4.0 ; python_version >= "3.11" and python_version < "4.0"
sentence-transformers==3.0.1 ; python_version >= "3.11" and python_version < "4.0"
tenacity==9.1.2 ; python_version >= "3.11" and python_version < "4.0"
tokenizers==0.22.1 ; python_version >= "3.11" and python_version < "4.0"
tqdm==4.67.1 ; python_version >= "3.11" and python_version < "4.0"
torch==2.4.1 ; python_version >= "3.11" and python_version < "4.0"
typer-slim==0.20.0 ; python_version >= "3.11" and python_version < "4.0"
types-requests==2.32.4.20250913 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "4.0"
typing-inspection==0.4.2 ; python_version >= "3.11" and python_version < "4.0"
tzdata==2025.2 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
urllib3==2.5.0 ; python_version >= "3.11" and python_version < "4.0"
